// Header.scss
@import "./_variables.scss";

.header {
  background-color: $background-color;
  color: $text-color;

  &__navigation,
  &__user {
    .header__button {
      background-color: $background-color;
      color: $primary-color;
    }
  }
}
