.track {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #b3b3b3;
  background-color: #282828;
}

.imageContainer {
  display: none;
  width: 16px;
  height: 16px;
  margin-right: 4px;

  @media (min-width: 640px) {
    display: block;
  }
}

.animate {
  animation: spin 3s linear infinite;
}

.image {
  border-radius: 50%;
}

.textContainer {
  width: 50%;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
}

.subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b3b3b3;
}
