.volumeBar {
  display: none;
  justify-content: end;
  align-items: center;
  color: #b3b3b3;
  background-color: #282828;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.input {
  width: 32px;
  height: 1px;
  margin-left: 2px;

  @media (min-width: 1536px) {
    width: 100px;
  }
}
